<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="lib/main.js"></script>
    <script src="lib/main_directive.js"></script>
    <script src="lib/filter.js"></script>
    <script src="lib/main_service.js"></script>
    <script src="lib/main_factory.js"></script>
    <link rel="stylesheet" href="css/default.css">
</head>

<body ng-controller='main as m'>
    <ul>
        <li ng-repeat="val in m.cardList" ng-click="m.viewCard(val)" ng-class='m.cardSelectClass(val)'>{{val.cardName}}</li>
    </ul>
    {{m.selectedList.currentPoint}}/{{m.selectedList.limitPoint+m.selectedList.extraPoint}}
    <hr/>
    <div card-table="m.viewingCard" select-card-fn="m.selectCard(card)" disabled-btn-fn="m.selectCardDisabled(card)" pc-switch-fn="m.pcSwitch(card)" ng-if="m.viewingCard"></div>
    <!-- attechmet -->
    <div ng-repeat="val in m.attechmentList ">
        <div card-table="val" select-card-fn="m.selectCard(card)" pc-switch-fn="m.pcSwitch(card)" disabled-btn-fn="m.selectCardDisabled(card)">
        </div>
    </div>
    <hr/>
    <div selected-card-table="m.selectedList.cardList" pc-switch-fn="m.pcSwitch(card)" remove-card-fn="m.removeCardFromSelectedList(card)"></div>
</body>

</html>
